{% extends 'base.html' %}
{% load static %}

{% block title %}{{ board.name }} - Mthds Board{% endblock %}

{% block head %}
<!-- Link to the compiled CSS from Vite -->
<link rel="stylesheet" href="{% static 'kanban/js/bundle.css' %}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
<!-- React mounts here -->
<div id="react-board-root" class="flex-1 w-full flex overflow-hidden" data-board-id="{{ board.id }}"
    data-board-name="{{ board.name }}"></div>

<!-- We load the compiled React JS bundle here -->
<script type="module" src="{% static 'kanban/js/bundle.js' %}"></script>
{% endblock %}